<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наші Курси Програмування</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <div class="container header-content">
            <h1 class="logo">Курси програмування</h1>
            <nav>
                <a href="/" class="nav-link active">Головна</a>
                <a href="/courses" class="nav-link">Курси</a>
                {% if username %}
                    {% if role == "admin" %}
                        <a href="/admin" class="nav-link">Адмінка</a>
                    {% else %}
                        <a href="/profile" class="nav-link">Профіль</a>
                    {% endif %}
                    <a href="/logout" class="auth-btn">Вийти</a>
                {% else %}
                    <a href="/auth" class="auth-btn">Вхід / Реєстрація</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        
        <section class="courses-page-header">
            <h2>Наші курси</h2>
            <p>Виберіть курс для початківців до досвідчених програмістів</p>
        </section>

        <div class="course-grid">
            
            <a href="/course-page/cpp" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #f39c12;""><i class="fas fa-bolt"></i></div>
                <h4>C++</h4>
                <p>Почати навчання →</p>
            </a>
            
            <a href="/course-page/csharp" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #9b59b6;"><i class="fas fa-gem"></i></div> 
                <h4>C#</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/delphi" class="course-card active-card">
                <div class="course-icon" style="font-size: 3em; color: #e74c3c;"><i class="fas fa-bullseye"></i></div> 
                <h4>Delphi</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/python" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #2ecc71;"><i class="fab fa-python"></i></div>
                <h4>Python</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/java" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #e67e22;"><i class="fas fa-mug-hot"></i></div>
                <h4>Java</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/javascript" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #f7df1e;"><i class="fab fa-js"></i></div>
                <h4>JavaScript</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/htmlcss" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #e44d26;"><i class="fas fa-code"></i></div>
                <h4>HTML/CSS</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="/course-page/php" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #777bb3;"><i class="fas fa-server"></i></div>
                <h4>PHP</h4>
                <p>Почати навчання →</p>
            </a>

            <a href="course-page/sql" class="course-card">
                <div class="course-icon" style="font-size: 3em; color: #2e86c1;"><i class="fas fa-database"></i></div>
                <h4>SQL</h4>
                <p>Почати навчання →</p>
            </a>
            
        </div>
    </main>

    <footer>
        <p style="text-align: center; padding: 20px; color: #777;">&copy; 2025 Проєкт студента ДМТК.</p>
    </footer>

</body>
</html>