<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забули пароль</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="navbar">
        <div class="container header-content">
            <h1 class="logo">Коледж</h1>
            <nav>
                <a href="/" class="nav-link">Головна</a>
                <a href="/courses" class="nav-link">Курси</a>
                <a href="/login" class="auth-btn">Вхід</a>
            </nav>
        </div>
    </header>

    <main class="auth-container">
        <div class="auth-box">
            <h2>Забули пароль?</h2>

            <form id="forgot-form">
                <label for="email">Ваша пошта</label>
                <input type="text" id="email" name="email" required>

                <p id="forgot-message" class="form-message error-message" style="display:none;"></p>

                <button type="submit">Надіслати код</button>
            </form>
        </div>
    </main>

    <script>
        const forgotForm = document.getElementById("forgot-form");
        const forgotMessage = document.getElementById("forgot-message");

        forgotForm.addEventListener("submit", async function(e) {
            e.preventDefault();

            const formData = new FormData(forgotForm);

            const response = await fetch("/forgot-password", {
                method: "POST",
                body: formData
            });

            const data = await response.json();

            if (data.ok) {
                window.location.href = data.redirect;
            } else {
                forgotMessage.style.display = "block";
                forgotMessage.textContent = data.message;
            }
        });
    </script>
</body>
</html>