<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" href="/static/style.css?v=80">
</head>
<body>
    <header class="navbar">
        <div class="container header-content">
            <h1 class="logo">Курси програмування</h1>
            <nav>
                <a href="/" class="nav-link active">Головна</a>
                <a href="/courses" class="nav-link">Курси</a>

                {% if username %}
                    {% if role == "admin" %}
                        <a href="/admin" class="nav-link">Адмінка</a>
                    {% else %}
                        <a href="/profile" class="nav-link">Профіль</a>
                    {% endif %}
                    <a href="/logout" class="auth-btn">Вийти</a>
                {% else %}
                    <a href="/auth" class="auth-btn">Вхід / Реєстрація</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="hero-section">
            <div class="college-title-box">
                <h2>{{ site_content["hero_title"] }}</h2>
                <p>{{ site_content["hero_subtitle"] }}</p>
            </div>

            <div class="story-content">
                {% for block in home_blocks %}
                <div class="home-block">
                    <h3>{{ block["title"] }}</h3>
                    {{ block["content_html"] | safe }}
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>